/.quarto/
.Rproj.user
.Rhistory
MA15Y030.Rproj
.vscode/

_site/



*.thm
*.log
*.xdv
*.aux
*.todo


/_*.local

/.luarc.json

/*/*_cache

/*/*_files

_gestion/

_exercices/

workshops/_*

workshops-chatgpt/

site_libs/
**/*.quarto_ipynb
