.quarto/
.Rdata
.Rproj.user
.Rhistory
MA15E045.Rproj
.vscode/
MA15E045.code-workspace
_site/
_freeze/*
exams/_archives/
_archives/
*/_freeze/
workshops/_*
/_*.local
/.quarto/
/.luarc.json
/*/*_cache
/*/*_files
**/*.quarto_ipynb

*.bat
*.thm
*.log
*.xdv
*.aux
*.todo

text.json
html.json




