/.quarto/
.Rdata
.Rproj.user
.Rhistory
MA15E045.Rproj
.vscode/
MA15E045.code-workspace
_site/

*.bat

*.thm
*.log
*.xdv
*.aux
*.todo


/_*.local

/.luarc.json

/*/*_cache

/*/*_files

_gestion/

_exercices/

workshops/_*

workshops-chatgpt/

site_libs/
**/*.quarto_ipynb

/_freeze
